<!--
  File: app.component.html
  Author: Korcsmaros Kende Andras
  Copyright: 2023, Korcsmaros Kende Andras
  Group: Szoft II/N
  Date: 2023-01-18
  Github: https://github.com/KendeAndras/
  Licenc: GNU GPL
-->

<p>Korcsmaros Kende Andras, 2023-01-18, Szoft II/N</p>

<div class="container">
  <h2>Feladat 0357</h2>
  <h1>{{title}}</h1>

  <div class="container">
    <div class="mb-4">
      <label for="processingLength" class="form-label">Megmunkált hossz (mm)</label>
      <input type="text" class="form-control"
      [(ngModel)]="processLength" id="processLength">
    </div>
    
    <div class="mb-4">
      <label for="fRatePerRev" class="form-label">Fordulatonkénti előtolás (mm)</label>
      <input type="text" class="form-control"
      [(ngModel)]="fRatePerRev" id="fRatePerRev">
    </div>

    <div class="mb-4">
      <label for="torque" class="form-label">Főorsó fordulatszám (fordulatszám percenként)</label>
      <input type="text" class="form-control"
      [(ngModel)]="torque" id="torque">
    </div>

    <button class="btn btn-info"
    (click)="calcProcessingTime()">Számít</button>

    <div class="mb-4">
      <label for="ptime" class="form-label">Megmunkálási idő (perc)</label>
      <input type="text" class="form-control"
      [(ngModel)]="ptime" id="ptime">
    </div>
  </div>
</div>
